footer {
  color: white;
  text-align: center;
  background-color: black;
  .container {

    padding: 5rem 0;
    p {
      &:nth-child(1) {
        font-size: 3.5rem;
        font-weight: bold;
      }

      &:nth-child(2) {
        font-size: 2rem;
      }
    }
  }  
}