header {

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  nav {
    font-size: 2rem;
    display: flex;
    justify-content: center;

    ul {
      margin-top: 2rem;
      display: flex;
      gap: 2rem;
    }
  }
}

#header.scroll {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
}