// ------------------------------- Reset ------------------------------------
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}


// ------------------------------- Base ------------------------------------

// Cores
$primary-color: #1C1D25;

body {
  background-color: $primary-color;

  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a.link {
  color: rgb(248, 129, 86);

  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: rgb(248, 129, 86);
    height: 2px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
  }

  &:hover::after {
    width: 100%;
  }
}

.container {
  padding: 0 5rem;
}


// back to top
.back-to-top {
  background: black;

  position: fixed;
  right: 1rem;
  bottom: 1rem;

  padding: 0.5rem;
  clip-path: circle();

  font-size: 1.5rem;
  line-height: 0;

  visibility: hidden;
  opacity: 0;

  transition: 0.3s;
  transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
