* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #1C1D25;
  font-family: 'Poppins', sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

a.link,
a.active {
  color: #f88156;
  position: relative;
}

a.link::after,
a.active::after {
  content: "";
  position: absolute;
  background-color: #f88156;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a.link:hover::after,
a.link a.active,
a.active:hover::after,
a.active a.active {
  width: 100%;
}

.container {
  padding: 0 5rem;
}

.back-to-top {
  background: black;
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  padding: 0.5rem;
  -webkit-clip-path: circle();
          clip-path: circle();
  font-size: 1.5rem;
  line-height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.back-to-top.show {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.exit-intent-popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  background: rgba(33, 33, 33, 0.8);
  -webkit-transform: translateY(60%) scale(0);
          transform: translateY(60%) scale(0);
  -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.exit-intent-popup.visible {
  -webkit-transform: translateY(0) scale(1);
          transform: translateY(0) scale(1);
}

.newsletter {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Popup-specific styles */
.newsletter {
  background: #FFF;
  padding: 10px;
  border-radius: 3px;
}

.newsletter b {
  font-size: 2.5rem;
}

.newsletter p {
  font-size: 1.5rem;
}

.newsletter form input {
  display: block;
  border: none;
  border-bottom: 1px solid black;
  padding: .2rem 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.newsletter form textarea {
  display: block;
}

.newsletter form button {
  border: none;
  background-color: black;
  color: white;
  max-width: 100px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.newsletter .close {
  position: absolute;
  top: 0;
  right: 5px;
  cursor: pointer;
  width: 10px;
  height: 10px;
}

header {
  padding-top: 2rem;
}

header nav {
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

header nav .toggle {
  display: none;
}

header.scroll {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

#hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#hero .information {
  color: white;
}

#hero .information h1 {
  font-size: 5rem;
}

#hero .information p {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#hero .information a {
  font-size: 1.5rem;
  color: white;
  border: none;
  background-color: #f88156;
  padding: 1rem 2rem;
  border-radius: 30px;
  -webkit-transition: .5s;
  transition: .5s;
  cursor: pointer;
}

#hero .information a:hover {
  background-color: #cc582d;
}

#hero .socials {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
}

#hero .socials a {
  -webkit-transition: .2s;
  transition: .2s;
}

#hero .socials a:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#sobre-mim {
  background-color: white;
}

#sobre-mim .container {
  padding: 20rem 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#sobre-mim .container .text {
  max-width: 65%;
  margin: 0 auto;
}

#sobre-mim .container .text h2 {
  font-size: 3rem;
}

#sobre-mim .container .text p {
  font-size: 2rem;
  font-weight: lighter;
}

#sobre-mim .container img {
  max-width: 20%;
  border-radius: 50%;
}

#projetos {
  background-color: white;
}

#projetos .container .title {
  padding: 5rem 0;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
}

#projetos .container .projetos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 10rem;
}

#projetos .container .projetos div:first-child {
  margin: 0 0.5rem 0 0;
}

#projetos .container .projetos div:last-child {
  margin: 0 0 0 0.5rem;
}

#projetos .container .projetos .projeto {
  margin: 0 .5rem;
  width: calc(25% - 1rem);
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
}

#projetos .container .projetos .projeto p {
  text-align: center;
}

#projetos .container .projetos .projeto p:nth-child(2) {
  font-weight: bold;
  font-size: 1.2rem;
}

#projetos .container .projetos .projeto p:nth-child(3) {
  font-weight: lighter;
  padding: 2rem 1rem;
  margin-bottom: .5rem;
}

#projetos .container .projetos .projeto .line {
  margin: 0 auto;
  width: 90%;
  height: 1px;
  background-color: black;
}

#projetos .container .projetos .projeto img {
  margin: 1rem 1rem;
  max-width: 80%;
  border-radius: 50%;
}

#projetos .container .projetos .projeto a {
  margin: 1rem 0;
  color: #f88156;
}

#projetos .container .projetos .projeto a:hover {
  color: #cc582d;
}

footer {
  color: white;
  text-align: center;
  background-color: black;
}

footer .container {
  padding: 5rem 0;
}

footer .container p:nth-child(1) {
  font-size: 3.5rem;
  font-weight: bold;
}

footer .container p:nth-child(2) {
  font-size: 2rem;
  margin-bottom: 1rem;
}

footer .container a {
  font-size: 1rem;
  color: white;
  border: none;
  background-color: #26CC64;
  -webkit-transition: .2s;
  transition: .2s;
  padding: .5rem 1rem;
  border-radius: 30px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

footer .container a:hover {
  background-color: #16b14f;
}

footer .container a a.back-to-top {
  display: inline;
}

footer .container a svg {
  margin-right: .5rem;
}

@media (max-width: 1050px) {
  .container {
    padding: 0 2.5rem;
  }
  header nav {
    font-size: 1.5rem;
  }
  #hero .information h1 {
    font-size: 4rem;
  }
  #sobre-mim .container {
    display: -ms-grid;
    display: grid;
  }
  #sobre-mim .container img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    max-width: 50%;
    margin: 0 auto;
  }
  #sobre-mim .container .text {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    text-align: center;
  }
  #projetos .container .projetos .projeto {
    width: calc(50% - 4rem);
    margin-top: 1.5rem;
  }
  footer .container p:nth-child(1) {
    font-size: 2.5rem;
  }
  footer .container p:nth-child(2) {
    font-size: 1rem;
  }
}

@media (max-width: 650px) {
  header nav {
    font-size: 1.2rem;
  }
  header nav ul {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    -webkit-transition: .2s;
    transition: .2s;
  }
  header nav .toggle {
    display: inline-block;
  }
  /*Mostrar menu*/
  nav.show ul {
    opacity: 1;
    visibility: visible;
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: -ms-grid;
    display: grid;
    place-content: center;
    z-index: 2;
  }
  /*toggle menu*/
  .toggle {
    cursor: pointer;
    z-index: 2;
  }
  nav .icon-close {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    -webkit-transition: .2s;
    transition: .2s;
  }
  nav.show .icon-menu {
    visibility: hidden;
    opacity: 0;
  }
  nav.show .icon-close {
    visibility: visible;
    opacity: 1;
  }
  .container {
    padding: 0 1rem;
  }
  #hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    padding: 11.2rem 1rem 0 1rem;
  }
  #hero .information h1 {
    font-size: 3.5rem;
  }
  #hero .information p {
    font-size: 2rem;
  }
  #hero .information a {
    font-size: 2rem;
    padding: .5rem 1rem;
  }
  #hero .socials {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin-top: 2rem;
  }
  #hero .socials svg {
    width: 64px;
    height: 64px;
  }
  #sobre-mim .container {
    padding: 5rem 1rem 0 1rem;
  }
  #sobre-mim .container .text h2 {
    font-size: 2rem;
  }
  #sobre-mim .container .text p {
    font-size: 1rem;
  }
  #projetos .container .title {
    font-size: 2rem;
  }
  #projetos .container .projetos .projeto {
    width: 100%;
  }
}

@media (max-width: 360px) {
  header nav {
    font-size: 1rem;
  }
  .container {
    padding: 0 1rem;
  }
  #hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
    padding: 11.2rem 1rem 0 1rem;
  }
  #hero .information h1 {
    font-size: 2rem;
  }
  #hero .information p {
    font-size: 1rem;
  }
  #hero .information a {
    font-size: 1rem;
    padding: .5rem 1rem;
  }
  #hero .socials {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    margin-top: 2rem;
  }
  #hero .socials svg {
    width: 32px;
    height: 32px;
  }
}
/*# sourceMappingURL=main.css.map */